* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

#webglCanvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.controlled {
  border: 5px solid orangered;
}
